{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{blog_post.image.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">                  
                    <a href="#">{{blog_post.categories}}</a>                  
                  </div>
                </div>
                <h1>{{blog_post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{blog_post.author.profile_image.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{blog_post.author}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{blog_post.created|timesince}}</div>
                    <div class="views"><i class="icon-eye"></i> {{blog_post.views}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                  {{blog_post.text|safe}}
                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                {% if blog_post.previous_post %}
                  <a href="{{blog_post.previous_post.get_absolute_url}}" class="prev-post text-left d-flex align-items-center">
                      <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                      <div class="text"><strong class="text-primary">Previous Post </strong>
                        <h6>{{blog_post.previous_post.title|truncatewords:10}}</h6>
                      </div>
                  </a>
                {% endif %}
                {% if blog_post.next_post %}
                  <a href="{{blog_post.next_post.get_absolute_url}}" class="next-post text-right d-flex align-items-center justify-content-end">
                      <div class="text"><strong class="text-primary">Next Post </strong>
                        <h6>{{blog_post.next_post.title|truncatewords:10}}</h6>
                      </div>
                      <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                  </a>
                {% endif %}
                </div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{blog_post.comments.count}})</span></h3>
                  </header>
                  {% for comment in blog_post.get_comment%}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{comment.username}}</strong><span class="date">{{blog_post.created|timesince}}</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="{% url 'blog:post' blog_post.slug %}" method="POST" class="commenting-form">                 
                    <div class="row">
                    {% csrf_token %}
                      <div class="form-group col-md-6">
                        <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                      </div>                      
                      <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        {% include "sidebar.html" with most_recent=most_recent category_count=category_count %}
        
      </div>
    </div>
{% endblock content %}